@charset "UTF-8";

/*css 初始化 */

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
}

fieldset,
img,
input,
button {
    /*fieldset组合表单中的相关元素*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul,
ol {
    list-style: none;
    /*清除列表风格*/
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select,
input {
    vertical-align: middle;
}

select,
input,
textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}


/*防止多行文本框拖动*/

img {
    border: 0;
    vertical-align: middle;
}


/*  去掉图片低测默认的3像素空白缝隙*/

table {
    border-collapse: collapse;
    /*合并外边线*/
}

body {
    /*font: 12px/150% Arial, Verdana, "\5b8b\4f53";*/
    /*宋体，Unicode，统一码*/
    color: #666;
    background: gray;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

s,
i,
em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

header {
    background-color: black;
    overflow: hidden;
}

.baiduLeft {
    margin: 10px 20px;
    height: 40px;
    float: left;
}

.baiduLeft a {
    color: red;
    font: 25px/40px "微软雅黑";
}

.baiduRight {
    margin: 10px 20px;
    float: right;
}

.baiduRight li {
    height: 40px;
    font: 15px/40px "微软雅黑";
    padding-right: 10px;
    float: left;
}

.baiduRight a {
    color: white;
}

.baiduRight a:hover {
    color: red;
}

.baiduRight li:last-child a {
    color: gray;
}

.baiduRight li:last-child a:hover {
    color: red;
}

section {
    margin: 20px 20px;
    background-color: white;
}

.section1 {
    padding: 20px 20px 10px 20px;
}

.section1 h2 {
    font-size: 20px;
    padding-top: 10px;
    font-weight: normal;
}

.section1 h3 {
    font-size: 15px;
    padding-top: 15px;
    font-weight: normal;
}

.sectionContent {
    font: 400 15px/25px consolas;
    margin: 15px 0 10px;
}

.sectionContent a {
    color: blue;
}

.sectionContent .contentImg img {
    width: 500px;
    padding-top: 15px;
}

.section1 .sectionList {
    margin-bottom: 15px;
}

.section1 .sectionList li {
    font: 15px/22px "微软雅黑";
}

.sectionGoodImg li {
    border: 1px solid #000;
    width: 600px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}

.sectionGoodImg li img {
    width: 500px;
    display: block;
    padding: 10px 50px 10px 50px;
}

.section1 .section1Order {
    margin: 10px 0 10px 20px;
}

.section1 .section1Order ol li {
    padding-bottom: 5px;
    width: 100px;
    height: 30px;
    font: 20px/30px "黑体";
}

.section1 .sectionTable .sumTable {
    margin-top: 5px;
}

.section1 .sectionTable .sumTable thead {
    background-color: black;
}

.section1 .sectionTable .sumTable tfoot {
    background-color: gray;
}

.section1 .sectionTable .sumTable tr th {
    width: 300px;
    height: 10px;
    border-right: 1px solid gray;
    text-align: left;
}

.section1Ops h1 {
    border-left: 3px solid #cecece;
    padding-left: 10px;
    height: 38px;
    line-height: 38px;
}

.section1Ops .sectionContent {
    margin: 25px 0 5px 20px;
    padding-left: 350px;
}

.section1 .sectionContent label {
    display: inline-block;
    font: 16px/16px "黑体";
    margin-right: 5px;
}

.section1 .sectionContent input {
    height: 17px;
    line-height: 15px;
    border: 1px solid gray;
}

.section1 .sectionContent .emailInput {
    margin-bottom: 10px;
}

.section1 .sectionContent .psdInput {
    margin-bottom: 10px;
}

.section1 .sectionContent .psdInput #psd {
    margin-left: 40px;
}

.section1 .sectionContent .sexSelect input {
    color: blue;
}

.section1 .sectionContent #rightPos {
    padding: 10px 8px 10px 78px;
}

.section1 .sectionContent .textContent label {
    padding: 10px 8px 10px 48px;
}

.btnSubmit .btnSubmitIn {
    width: 100%;
    height: 50px;
    line-height: 30px;
    color: white;
    background-color: #2dabe6;
    border-radius: 2em;
    padding-left: 0;
}

.section1 .sectionContent span {
    display: block;
    height: 16px;
    font: 12px/16px "黑体";
    color: #d2d2d2;
    padding: 5px 0 5px 122px;
}

.footContent {
    text-align: center;
    height: 20px;
    color: white;
    background-color: black;
    padding: 5px 0;
}